.character-creation {

    position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

    .sidebar { 
        background: #222; color: white; padding: 15px;
        width: 20%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        text-align: center;

        p {
            font-size: 125%;
        }

        .img-fluid {
            margin: 20px 0;
        }

     }
    .main-panel { 
        padding: 20px;
        width: 80%;
        position: fixed;
        left: 20%;
        top: 0;
        bottom: 0;
        overflow: auto;

        input, & select {
            margin: 12px 0;
        }

        .btn {
            margin: 0 15px 0 0;
        }

     }


  }